<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online Store</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Online Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>

                @if (Session["UserId"] != null)
                {
                    <ul class="nav navbar-nav pull-right">
                        <li class="float-right">@Html.ActionLink("Logout", "Logout", "Users")</li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("History", "UserInvoice", "Home")</li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li>@Html.ActionLink(" ", "Checkout", "Home", new { @class = "glyphicon glyphicon-shopping-cart" })</li>
                    </ul>
                }
                else if (Session["AdminId"] != null)
                {
                    <ul class="nav navbar-nav pull-right">
                        <li class="float-right">@Html.ActionLink("Logout", "Logout", "Users")</li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Dashboard", "AdminDashboard", "Users")</li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li>@Html.ActionLink("ProductTypes", "Index", "ProductTypes")</li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li>@Html.ActionLink("Products", "Index", "Products")</li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav pull-right">
                        <li class="float-right">@Html.ActionLink("Sign In", "Login", "Users")</li>
                        <li class="float-right">@Html.ActionLink("Sign Up", "SignUp", "Users")</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Online Store</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
